
/*table {
	width: 100%;
	display: table;
}*/
table tr {
	display: table-cell;
}
table tr td {
	display: block;
}
.head{
	text-align: center;
	margin: 10px;
}
.container {
	background-color: #bdffdf;
	
	margin: 5% auto;
	width: 60%;
  	display: flex;
  	flex-direction: column;
}