<div class="container">
  <div class="head"><h2>Complaints</h2></div>
<table class="table">
  <thead>
  <th>id</th>
  <th>title</th>
  <th>Status</th>
  <th>Date</th>
  <th>comment</th>
  <th>Edit</th>
</thead>
<tbody>
    <tr>
        <td *ngFor="let mobile of data">{{mobile.comp_id}}</td>        
    </tr>
    <tr>
        <td *ngFor="let mobile of data">{{mobile.title}}</td>
    </tr>
    <tr>
        <td *ngFor="let mobile of data">{{mobile.status}}</td>
    </tr>
    <tr>
        <td *ngFor="let mobile of data">{{mobile.date}}</td>
    </tr>
    <tr>
        <td *ngFor="let mobile of data"><a href="comment?comp_id={{mobile.comp_id}}">comment</a></td>
    </tr>
    <tr>
        <td *ngFor="let mobile of data"><a href="complain/Edit?comp_id={{mobile.comp_id}}">Edit</a></td>
    </tr>
  </tbody>
</table>
</div>

